# Environment variables
.env
*.env

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
# Django files
db.sqlite3
*.log

# TOML files
*.toml

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

../venv/

../django-jun-29
db.sqlite3