{% extends 'projects/base.html' %}
{% block title %}Add Subject{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4"><i class="fas fa-plus-circle"></i> Add New Subject</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <i class="fas fa-book"></i> Subject Information
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Please correct the following errors:</strong>
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.name.id_for_label }}" class="form-label">Subject Name *</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                <div class="text-danger">{{ form.name.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.code.id_for_label }}" class="form-label">Subject Code *</label>
                            {{ form.code }}
                            {% if form.code.errors %}
                                <div class="text-danger">{{ form.code.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.level.id_for_label }}" class="form-label">Level *</label>
                            {{ form.level }}
                            {% if form.level.errors %}
                                <div class="text-danger">{{ form.level.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="col-md-6 mb-3">